<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Public Message Board</h1>
   <ul>
  <% if (messages && messages.length > 0) { %>
    
      <% messages.forEach(msg => { %>
        <li>Username: <%= msg.username %></li>
        <li>Message: <%= msg.message %></li>
        <li>Posted: <%= msg.created_at%></li>
        <% }); %>
      <%  } else { %> 
        <span>No users</span>
    <% } %>
  </ul>

  <% if (user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <form method="POST" action="/new">
            <label for="co">Message</label>
            <textarea id="message" name="message"  rows="2" cols="50" required></textarea> 
            <button type="submit">Submit</button>

    <a href="/log-out">LOG OUT</a>
  <% } else { %>
    <h1>please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" required/>
      <label for="password">Password</label>
      <input id="password" name="password" type="password" required/>
      <button type="submit">Log In</button>
    </form>
  <%}%>
  <a href="/newUser">Sign Up</a>
</body>
</html>