<head>
  <link rel="stylesheet" href="/style.css">
</head>
  
<html>
    <body>
        <h3>Sign Up</h3>
        <form method="POST" action="/newUser"> 
            <label for="first">First Name</label>
            <input type="text" id="first" name="first" required>
            <label for="last">Last Name</label>
            <input type="text" id="last" name="last" required>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <label for="password">User Password</label>
            <input type="text" id="password" name="password" required>
            <!--
            <span>Enter the membership password to gain member status</span>
            <label for="memberPass">Member Password</label>
            <input type="text" id="memberPass" name="memberPass" required>
              -->
            <button type="submit">Submit</button>
      
        </form>
    </body>
</html>